@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body{
  height: 100%;
}
body{
  width: 1920px;
}

#transparent{
  background: linear-gradient(89.41deg, rgba(34, 0, 0, 0.7) 0.51%, rgba(87, 0, 0, 0) 99.54%);
}



